

.bio-name {
   color: aqua;

}

.bio-list {
    font-size: 25px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    opacity: .7;
}

.face-icon{
    font-size: 50px;
    margin: 20px;
   color: #2A4172;
   
}
.linkedin-icon{
    font-size: 50px;
    margin: 20px;
}
.ig-icon{
    font-size: 50px;
    margin: 20px;
}