

/* classes */
.d-flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.f-direction-c {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.p10 {
    padding-right: 10px;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    margin-top: 50px;
    /* width: 100%;
    height: 39.5rem; */
}

/* Heading CSS */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00ffd5;
    font-size: 2rem;
    /* margin-bottom: 20px; */
}



/* Card CSS */
.card {
    height: 500px;
    width:400px;
    padding: 0.6em;
    margin: 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;

}
/* .card-picture{
    width: 50%;
    height: 400px;
}
.card-text{
     width: 50%; 
} */
.card:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000, #ff7300, #fffb00, #48ff00,
            #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -.2em;
    left: -.2em;
    /* background-size: 400%; */
    z-index: -1;
    filter: blur(15px);
    -webkit-filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing-card 20s linear infinite;
    transition: opacity 0.6s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-card {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glow-label {

    0%,
    100% {
        color: #50cc2e;
    }

    20% {
        color: #f46b03;
    }

    40% {
        color: #b1f10f;
    }

    60% {
        color: #069cff;
    }

    80% {
        color: #b700ff;
    }
}

.card-no,
.card-name {
    display: flex;
    flex-direction: column;
}


.card-item {
    /* margin: .6rem; */
    display: flex;
    justify-content: space-between;
}

.date span {
    font-size: .6rem;
}

/* Submit Button CSS */
#sbm-btn {
    content: "";
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    border-radius: 7px;
    font-weight: 700;
    width: 5rem;
    height: 1.7rem;
    box-shadow: rgba(255, 255, 255, 0.2) 5px 5px 10px 2px;
   /* margin: .2rem; */
    z-index: 0;
    animation: glow 5s infinite;
}

#sbm-btn:hover {
    background-color: black;
    color: rgb(0, 255, 34);
    box-shadow: rgba(59, 190, 72, 0.2) 5px 5px 10px 2px;
    transform: translate3d(0, 2px, 0);
}


@keyframes glow {

    0%,
    100% {
        color: #000000;
        /* color: #2ecc71; */
        border-color: #3498db;
        box-shadow: 0 0 10px #3498db;
    }

    20% {
        color: #f1c40f;
        border-color: #e74c3c;
        box-shadow: 0 0 10px #e74c3c;
    }

    40% {
        color: #000;
        /* color: #e67e22; */
        border-color: #2ecc71;
        box-shadow: 0 0 10px #2ecc71;
    }

    60% {
        color: #9b59b6;
        border-color: #f39c12;
        box-shadow: 0 0 10px #f39c12;
    }

    80% {
        color: #000;
        /* color: #3498db; */
        border-color: #9b59b6;
        box-shadow: 0 0 10px #9b59b6;
    }
}

#exp-date,
#start-date {
    width: 50%;
}