.header-color {
  background-image: url("./components/background.png");
  height: 5vh;
  border: 1px red solid;
}

.landing-grid {
  background-image: url("./components/background.png");
  /* background: #833ab4;  
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background:#00AA80;
  color: white;
  padding: 2em;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgb(139, 139, 139);
    border-radius: 20px;
}

/* contact page css */



/* contact page css */

.avatar-img {
  height: 200px;
  margin-top: 50px;
  border-radius: 50%;
  
  
}

.banner-text {
  background-color:black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
 
  
}


.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted red;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.social-links i {
  
  font-size: 3em;
  padding: 8px;
}


.skill-logo{
  font-size: 50px;
}
.fa-node{
  color: #8CC84B;
}
.fa-react{
  color: #00D8FF;
}
.fa-html5{
color: #F1662A;

}
.fa-css3-alt{
color: #1B73BA;

}
.fa-js-square{
  color: #F0DB4F;
}

.redux{
  height: 65px;
  width: 65px;
  margin-bottom: 40px;
}
.sql{
  max-width: 55px;
  margin-bottom: 20px;
}
.fa-git-alt{
  color: #F05033;
}
.my-name{
  font-size: 50px;
  color: aqua;
  font-family: 'Niconne', cursive;
  
}

.fa-linkedin{
color: #0074B2;
}

